<div class="attribute bar2 resource-input">
    {{#each topBars}}
    <input type="text" style="border: 1px solid {{this.maxcolor}};" name="flags.barbrawl.resourceBars.{{this.id}}.value" {{#if (ne this.attribute "custom")}}data-bar="{{this.id}}"{{/if}} value="{{this.value}}" {{#unless this.editable}}disabled{{/unless}}>
    {{/each}}
</div>

<div class="attribute bar1 resource-input">
    {{#each bottomBars}}
    <input type="text" style="border: 1px solid {{this.maxcolor}};" name="flags.barbrawl.resourceBars.{{this.id}}.value" {{#if (ne this.attribute "custom")}}data-bar="{{this.id}}"{{/if}} value="{{this.value}}" {{#unless this.editable}}disabled{{/unless}}>
    {{/each}}
</div>